head
	meta(charset="UTF-8")
	title #{title}
	block meta
		// Search Tags
		meta(name="description", content="DESCRIPTION")
		meta(name="keywords", content="KEYWORDS")
		// Favicon
		// - <link rel="icon" href="img/favicon.png" type="images/png">
		// Responsive Teg
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		// IE Edge Teg
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
	// Styles
	block styles		
		link(rel="stylesheet", href="dist/assets/css/main.min.css")